*{
    margin: 1;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: #f1f1f1;
    padding: 20px;
  }
.container {
    background: white;
    border-radius: 15px;
    max-width: 600px;
    margin: 0 auto;
    padding: 25px;
    box-shadow: 0 10px 30px;
}
h1{
    text-align:center;
    margin-bottom:20px;
    color: #333;
}
.input-section{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
#taskinput {
    flex:2;
    padding:12px;
    border:2px solid #ddd;
    border-radius: 8px;
    font-size:16px
}
#addBtn {
    padding: 12px 20px;
    background: #667eea;
    color: white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}
#addBtn:hover {
    background:#5a67d8;
}
.filter-section{
    display:flex;
    gap:10px;
    margin-bottom:20px;
    justify-content:center;
}
.filter-section button {
    padding:8px;
    border:2px;
    background:#f1f1f1;
    border-radius:20px;
    cursor:pointer;
    transition:0.3s;
}
#taskList{
    list-style:none;
}
.task-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:12px;
    margin-bottom:10px;
    border-radius:8px;
    background:#f8f9fa;
    transition:0.3s;
}
.task-item.pending {
    border-left:5px solid #ff9800;
    background: #fff3e0;

}